.post{

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .info{
        padding-top: 1.5rem;
        strong{
            margin-right: 20px;
        }
        margin-bottom: 20px;
    }
}