<div class="post">
    <div class="header">
        <h1>Post Title</h1>

        <button class="btn btn-linl" routerLink='/'>На головну</button>
    </div>

    <div class="info">
        <strong>Autor</strong>
        <small>13.08.2020</small>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sequi quaerat facilis delectus iure illum similique distinctio id porro? Ipsa suscipit iure voluptatibus, maiores illum velit animi totam vitae possimus sunt voluptate aspernatur dicta similique! Consectetur id veniam laudantium impedit? Autem blanditiis unde quas, illum voluptas sunt repellat soluta eligendi!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sequi quaerat facilis delectus iure illum similique distinctio id porro? Ipsa suscipit iure voluptatibus, maiores illum velit animi totam vitae possimus sunt voluptate aspernatur dicta similique! Consectetur id veniam laudantium impedit? Autem blanditiis unde quas, illum voluptas sunt repellat soluta eligendi!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sequi quaerat facilis delectus iure illum similique distinctio id porro? Ipsa suscipit iure voluptatibus, maiores illum velit animi totam vitae possimus sunt voluptate aspernatur dicta similique! Consectetur id veniam laudantium impedit? Autem blanditiis unde quas, illum voluptas sunt repellat soluta eligendi!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sequi quaerat facilis delectus iure illum similique distinctio id porro? Ipsa suscipit iure voluptatibus, maiores illum velit animi totam vitae possimus sunt voluptate aspernatur dicta similique! Consectetur id veniam laudantium impedit? Autem blanditiis unde quas, illum voluptas sunt repellat soluta eligendi!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sequi quaerat facilis delectus iure illum similique distinctio id porro? Ipsa suscipit iure voluptatibus, maiores illum velit animi totam vitae possimus sunt voluptate aspernatur dicta similique! Consectetur id veniam laudantium impedit? Autem blanditiis unde quas, illum voluptas sunt repellat soluta eligendi!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sequi quaerat facilis delectus iure illum similique distinctio id porro? Ipsa suscipit iure voluptatibus, maiores illum velit animi totam vitae possimus sunt voluptate aspernatur dicta similique! Consectetur id veniam laudantium impedit? Autem blanditiis unde quas, illum voluptas sunt repellat soluta eligendi!</p>
    </div>
</div>
